##Import

In [ ]:
import numpy as np
import pandas as pd
from google.colab import files
import io
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
from google.colab import drive
#https://drive.google.com/file/d/1-S8TXAf33CX7zhyHP_rNNCtX_VueH3-2/view?usp=sharing

##Import preprocessed file from dropbox

In [ ]:
#pd.read_csv('https://drive.google.com/file/d/1-S8TXAf33CX7zhyHP_rNNCtX_VueH3-2/view?usp=sharing')
bkk = 'Bangkok'
ctb = 'Chanthaburi'
cm = 'Chiang Mai'
fire_hotspot = 'Fire hotspot/'
kbr = 'Kanchanaburi'
kk = 'Khon Kaen'
sk = 'Songkhla'
#Chanthaburi_process_data_2
province = [ctb, cm, kbr, bkk, kk, sk]
#Bangkok_process_data_train_new
pm_data_path = [x+'_process_data_train_new_6.csv' for x in province]
path_list = [
             'https://www.dropbox.com/s/70r2zg5rwdpf3nc/Chanthaburi_process_data_train_new_6.csv?dl=1',
             'https://www.dropbox.com/s/km0e3fk7mkokzcl/Chiang%20Mai_process_data_train_new_6.csv?dl=1',
             'https://www.dropbox.com/s/q7j2xum15fr3vz6/Kanchanaburi_process_data_train_new_6.csv?dl=1',
             'https://www.dropbox.com/s/c3ni6n4dszczr3p/Bangkok_process_data_train_new_6.csv?dl=1',
             'https://www.dropbox.com/s/bqh4sjsefgczwms/Khon%20Kaen_process_data_train_new_6.csv?dl=1',
             'https://www.dropbox.com/s/i0etbo2bood5oqx/Songkhla_process_data_train_new_6.csv?dl=1']

In [ ]:
pm_data_train = []
import datetime, pytz
for tmp_path in path_list:
  df = pd.read_csv(tmp_path)
  df['predict_time'] = df['predict_time'].astype('datetime64[ns]').dt.tz_localize('UTC').dt.tz_convert('Asia/Bangkok')
  pm_data_train.append(df)

##Data Explaining
_x means past 0 hour, 
_y means past 6 hours,
_x.1 means past 12 hours,
_y.1 means past 18 hours,
_x.2 means past 24 hours,
_y.2 means past 30 hours

For example, if the current time is 12.00 of 10 May 2021, we want to predict from 13.00 of 10 May to 12.00 of 13 May. The data that we use are 6 data points from past 0, 6, 12, 18, 24, 30 hours. The following past hours are 12.00 of 10 May, 06.00 of 10 May, 00.00 of 10 May, and so on.

In [ ]:
pm_data_train[0]

        Unnamed: 0  index  ... PM2.5_y.2               datetime_y.2
0                0      0  ...      34.9  2016-03-04 06:00:00+07:00
1                1      1  ...      34.9  2016-03-04 06:00:00+07:00
2                2      2  ...      34.9  2016-03-04 06:00:00+07:00
3                3      3  ...      34.9  2016-03-04 06:00:00+07:00
4                4      4  ...      34.9  2016-03-04 06:00:00+07:00
...            ...    ...  ...       ...                        ...
317803      317803     67  ...      21.0  2019-03-03 18:00:00+07:00
317804      317804     68  ...      21.0  2019-03-03 18:00:00+07:00
317805      317805     69  ...      21.0  2019-03-03 18:00:00+07:00
317806      317806     70  ...      21.0  2019-03-03 18:00:00+07:00
317807      317807     71  ...      21.0  2019-03-03 18:00:00+07:00

[317808 rows x 37 columns]

###Cleaning the dataframe

In [ ]:
train = pd.concat(pm_data_train)
train.drop(['Unnamed: 0'], axis=1, inplace=True)
train.rename(columns={'index':'number'}, inplace=True)
train.reset_index(inplace=True)
train.drop(['index'], axis=1, inplace=True)
train

         number              predict_time  ...  PM2.5_y.2               datetime_y.2
0             0 2016-03-05 13:00:00+07:00  ...       34.9  2016-03-04 06:00:00+07:00
1             1 2016-03-05 14:00:00+07:00  ...       34.9  2016-03-04 06:00:00+07:00
2             2 2016-03-05 15:00:00+07:00  ...       34.9  2016-03-04 06:00:00+07:00
3             3 2016-03-05 16:00:00+07:00  ...       34.9  2016-03-04 06:00:00+07:00
4             4 2016-03-05 17:00:00+07:00  ...       34.9  2016-03-04 06:00:00+07:00
...         ...                       ...  ...        ...                        ...
1906843      67 2019-03-07 20:00:00+07:00  ...       19.6  2019-03-03 18:00:00+07:00
1906844      68 2019-03-07 21:00:00+07:00  ...       19.6  2019-03-03 18:00:00+07:00
1906845      69 2019-03-07 22:00:00+07:00  ...       19.6  2019-03-03 18:00:00+07:00
1906846      70 2019-03-07 23:00:00+07:00  ...       19.6  2019-03-03 18:00:00+07:00
1906847      71 2019-03-08 00:00:00+07:00  ...       19.6  2019-03-03 18:00:00+07:00

[1906848 rows x 36 columns]

###Add other two features which are hour and month of prediction time.

In [ ]:
train['hour'] = train['predict_time'].dt.hour
train['month'] = train['predict_time'].dt.month
train

         number              predict_time  ...  hour  month
0             0 2016-03-05 13:00:00+07:00  ...    13      3
1             1 2016-03-05 14:00:00+07:00  ...    14      3
2             2 2016-03-05 15:00:00+07:00  ...    15      3
3             3 2016-03-05 16:00:00+07:00  ...    16      3
4             4 2016-03-05 17:00:00+07:00  ...    17      3
...         ...                       ...  ...   ...    ...
1906843      67 2019-03-07 20:00:00+07:00  ...    20      3
1906844      68 2019-03-07 21:00:00+07:00  ...    21      3
1906845      69 2019-03-07 22:00:00+07:00  ...    22      3
1906846      70 2019-03-07 23:00:00+07:00  ...    23      3
1906847      71 2019-03-08 00:00:00+07:00  ...     0      3

[1906848 rows x 38 columns]

In [ ]:
col = list(train.columns)
use_col = [c for c in col if (c != 'predict_time') and (c[:8]!='datetime') and (c not in ['lat_x', 'lat_y', 'long_x', 'long_y'])]
print(use_col)

['number', 'target', 'PM2.5_x', 'Wind Speed(km/h)_x', 'Temp(C)_x', 'hot_spot_score_1_x', 'hot_spot_score_2_x', 'hot_spot_score_3_x', 'PM2.5_y', 'Wind Speed(km/h)_y', 'Temp(C)_y', 'hot_spot_score_1_y', 'hot_spot_score_2_y', 'hot_spot_score_3_y', 'PM2.5_x.1', 'Wind Speed(km/h)', 'lat', 'long', 'Temp(C)', 'hot_spot_score_1', 'hot_spot_score_2', 'hot_spot_score_3', 'PM2.5_y.1', 'PM2.5_x.2', 'PM2.5_y.2', 'hour', 'month']

In [ ]:
train2 = train[use_col].dropna()
train2

         number  target  PM2.5_x  ...  PM2.5_y.2  hour  month
0             0    34.2     34.0  ...       34.9    13      3
1             1    34.2     34.0  ...       34.9    14      3
2             2    34.1     34.0  ...       34.9    15      3
3             3    34.1     34.0  ...       34.9    16      3
4             4    34.0     34.0  ...       34.9    17      3
...         ...     ...      ...  ...        ...   ...    ...
1906843      67    15.9     27.4  ...       19.6    20      3
1906844      68    15.9     27.4  ...       19.6    21      3
1906845      69    15.9     27.4  ...       19.6    22      3
1906846      70    28.1     27.4  ...       19.6    23      3
1906847      71    25.1     27.4  ...       19.6     0      3

[1905768 rows x 27 columns]

In [ ]:
train_df = []
#test_df = []
for i in range(72):
  train_df.append(train2[train2.number == i][use_col])
  #test_df.append(test[test.number == i][use_col])
  train_df[i].drop(['number'], axis=1, inplace=True)
  #test_df[i].drop(['number'], axis=1, inplace=True)

In [ ]:
x = [1]*len(train_df[0].columns[1:])
c = train_df[0].columns[1:]
x

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [ ]:
print(len(x))

25

##Feature Selection
Only use train data and separate into 70% of training and 30% of validation. You can try running but it may use a lot of memory and GPU.

In [ ]:
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import warnings
warnings.filterwarnings('ignore')
model = XGBRegressor(objective='reg:linear', 
                      random_state=3, 
                      max_depth=3,
                      n_estimators=90)
best_score = 10000
for i in range(len(x)):
  
  x[i] = 0
  print(i, x)
  x_tmp = [c[j] for j in range(len(x)) if x[j] == 1]
  my_rms = 0
  for ii in range(72):
    train_df2 = train_df[ii]
    #X_train, y_train = train_df2[train_df2.columns[1:]], train_df2['target'] 
    X_train, y_train = train_df2[x_tmp], train_df2['target']
    X_train1, X_test1, y_train1, y_test1 = train_test_split(X_train, y_train, test_size=0.30, random_state=0)
    model.fit(X_train1, y_train1)
    y_predict = model.predict(X_test1)
    rms = mean_squared_error(y_test1, y_predict, squared=False)
    my_rms += rms
  my_rms /= 72
  if my_rms < best_score:
    best_score = my_rms
    x[i] = 0
  else:
    x[i] = 1
  print(best_score)

0 [0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[06:59:20] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:22] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:23] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:25] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:26] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:28] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:29] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:31] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:34] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:35] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:36] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:38] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:39] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:41] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:42] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:44] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:45] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:47] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:48] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:50] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:51] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:53] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:59:54] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

KeyboardInterrupt: ignored

###This is the result of feature selection

In [ ]:
#Best 
x = [1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
print(len(x))

25

##Training the model
We use 72 XGBoost models to predict 72 data points, X_train of 72 models are the same, only y_train are different.

In [ ]:
#from sklearn.metrics import mean_squared_error
import pickle
from xgboost import XGBRegressor
model = XGBRegressor(objective='reg:linear', 
                      random_state=3, 
                      max_depth=3,
                      n_estimators=90)
x_tmp = [c[j] for j in range(len(x)) if x[j] == 1]
for i in range(72):
  train_df2 = train_df[i]
  X_train, y_train = train_df2[x_tmp], train_df2['target'] 
  bst = model.fit(X_train, y_train)
  name = 'model3_'+str(i)+'.pkl'
  pickle.dump(bst, open(name, "wb"))

[07:00:00] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:03] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:04] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:06] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:09] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:11] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:13] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:14] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:16] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:18] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:19] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:21] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:23] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:24] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:26] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:28] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:29] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:31] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:33] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:34] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:36] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:38] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:39] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:41] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:43] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:44] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:46] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:48] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:49] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:51] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:53] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:54] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:56] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:58] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:00:59] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:03] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:04] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:06] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:09] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:11] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:13] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:14] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:16] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:18] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:19] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:21] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:23] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:24] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:26] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:28] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:29] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:31] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:33] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:34] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:36] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:38] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:39] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:41] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:43] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:45] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:46] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:48] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:50] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:51] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:53] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:55] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:56] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:01:58] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

##Download the 72 models then manually upload to dropbox.

In [ ]:
from google.colab import files
for i in range(18):
  name = 'model3_'+str(i)+'.pkl'
  files.download(name)

In [ ]:
for i in range(18):
  name = 'model3_'+str(i+18)+'.pkl'
  files.download(name)

In [ ]:
name = 'model3_'+str(28)+'.pkl'
files.download(name)

In [ ]:
for i in range(18):
  name = 'model3_'+str(i+36)+'.pkl'
  files.download(name)

In [ ]:
for i in range(18):
  name = 'model3_'+str(i+18*3)+'.pkl'
  files.download(name)